*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    font-family: 'Lato', sans-serif;
  }
  

/* Header CSS */
.header{
    display: flex;
    justify-content: space-between;
    background-color:#fff;
    color: black;
    font-weight: 600;
}


.logo{
    margin-left: 30px;
    width: 25%;
}

.nav-items{
    width: auto;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
}

.nav-items > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px 15px;
    font-size: large;
    cursor: pointer;
}


/* Body CSS */

.restaurant-list{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.card{
    width: 200px;
    border-radius: 5px;
    box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.card > img{
    width: 100%;
    border-radius: 10px;
}

.card > span{
    display: flex;
    justify-content: space-evenly;
}

.card > span > h4{
    text-align: center;
}

.card > span > h4:first-child{
    display: flex;
    align-items: center;
    background-color: rgb(19, 176, 1);
    border-radius: 5px;
    padding: 0 5px 0;
    color: white;
}

.card > span > h4:first-child .fa-star{
    font-size: small;
    padding: 0 5px 3px 0;
}


 /** SHIMMER */

 .restaurant-list{
    
    background-color: white;
 }
 .restaurant-card{
    display: flex;
    width: 200px;
    height: 200px;
    margin: 40px;
    background-color: gray;
 }

 .menu-list{
    display: flex;
    flex-wrap:wrap;
 }